<nav>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage == 1">
      <a class="page-link" (click)="onFetchUserPage(currentPage - 1)">
        <span>&laquo;</span>
      </a>
    </li>
    <li
      *ngFor="let page of displayArray"
      class="page-item"
      [class.active]="currentPage+'' === page"
      [class.disabled]="_Number.isNaN(_Number(page))"
    >
      <a
        class="page-link"
        (click)="
          currentPage+'' != page && !_Number.isNaN(_Number(page))
            ? onFetchUserPage(_Number(page))
            : null
        "
      >
        {{ page }}
      </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage >= totalPages">
      <a class="page-link" (click)="onFetchUserPage(currentPage + 1)">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
