<ng-template #loadingOrError>
  <div>
    <ng-container *ngIf="this.errorMsg; else loadingTemplate">
      <div class="alert alert-danger" role="alert">
        <strong>Error loading user profile : </strong>
        {{ errorMsg }}
      </div>
    </ng-container>
    <ng-template #loadingTemplate>
      <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-dark spinner-border-lg" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
<div
  class="container rounded bg-white mt-5 mb-5"
  *ngIf="profile$ | async as profile; else loadingOrError"
>
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          [src]="
            profile.avatar.replace('lorempixel.com/g/', 'loremflickr.com/')
          "
        /><span class="font-weight-bold">{{ profile.username }}</span
        ><span class="text-black-50">{{ profile.email }}</span
        ><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">User Profile</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <span class="labels">Name</span>
            <div class="fs-5">{{ profile.firstName }}</div>
          </div>
          <div class="col-md-6">
            <span class="labels">Surname</span>
            <div class="fs-5">{{ profile.lastName }}</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="col-md-6">
              <span class="labels">Phone number</span>
              <div class="fs-5">{{ profile.mobile }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <span class="labels">birthday</span>
            <div class="fs-5">{{ profile.birthDate }}</div>
          </div>
          <div class="col-md-12">
            <span class="labels">Email ID</span>
            <div class="fs-5">{{ profile.email }}</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <span class="labels">Country</span>
            <div class="fs-5">{{ profile.country }}</div>
          </div>
          <div class="col-md-6">
            <span class="labels">State/Region</span>
            <div class="fs-5">{{ profile.city }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <br />
        <div class="col-md-12">
          <span class="labels">Job Position</span>
          <div class="fs-5">{{ profile.jobPosition }}</div>
        </div>
        <div class="col-md-12">
          <span class="labels">Company</span>
          <div class="fs-5">{{ profile.company }}</div>
        </div>
        <div class="col-md-12">
          <span class="labels">Role</span>
          <div class="fs-5">
            {{
              profile.role == "USER"
                ? "App user"
                : profile.role == "ADMIN"
                ? "Administrator"
                : "unknown"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
